In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1744,tt0416508,16500000,37311672,Becoming Jane,Anne Hathaway|James McAvoy|Julie Walters|James...,Julian Jarrold,Her own life is her greatest inspiration.,A biographical portrait of a pre-fame Jane Aus...,120,Drama|Romance,Ecosse Films|2 Entertain|Bueprint Pictures,3/2/2007,6.9,2007
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012
1696,tt0431308,30000000,156835339,P.S. I Love You,Hilary Swank|Gerard Butler|Lisa Kudrow|Harry C...,Richard LaGravenese,"His life ended. Now, a new one will begin.",A young widow discovers that her late husband ...,126,Drama|Romance,Wendy Finerman Productions|Alcon Entertainment...,11/15/2007,7.0,2007
1809,tt0130623,127500000,354248063,Dinosaur,D. B. Sweeney|Alfre Woodard|Ossie Davis|Max Ca...,Ralph Zondag|Eric Leighton,You have never seen anything like this.,An orphaned dinosaur raised by lemurs joins an...,82,Animation|Family,Walt Disney Pictures|Walt Disney Feature Anima...,5/19/2000,6.1,2000
756,tt1222817,80000000,169852759,Zookeeper,Kevin James|Rosario Dawson|Sylvester Stallone|...,Frank Coraci,Welcome to his jungle.,A comedy about a zookeeper who might be great ...,102,Comedy|Romance|Family,Columbia Pictures|Happy Madison Productions|So...,7/6/2011,5.4,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

#Предобработка:
data['profit'] = data['revenue'] - data['budget'] 

#Функция для поиска количества символов:
def len_symb(s):
  return len(s)

#Функция для поиска количества слов:
def len_words(s):
  return len(s.split(' '))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
data[data.budget == data.budget.max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides +'

# 2. Какой из фильмов самый длительный (в минутах)?

In [21]:
data[data.runtime == data.runtime.max()]['original_title'].iloc[0]

'Gods and Generals'

In [8]:
answers ['2'] =  'Gods and Generals +'

# 3. Какой из фильмов самый короткий (в минутах)?

In [22]:
data[data.runtime == data.runtime.min()]['original_title'].iloc[0]

'Winnie the Pooh'

In [10]:
answers ['3'] =  'Winnie the Pooh +'

# 4. Какова средняя длительность фильмов?

In [11]:
round(data.runtime.mean())

110

In [12]:
answers ['4'] =  '110 +'

# 5. Каково медианное значение длительности фильмов?

In [13]:
data.runtime.median()

107.0

In [14]:
answers ['5'] =  '107.0 +'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
data[data.profit == data.profit.max()]['original_title'].iloc[0]

'Avatar'

In [16]:
answers ['6'] =  'Avatar +'

# 7. Какой фильм самый убыточный?

In [24]:
data[data.profit == data.profit.min()]['original_title'].iloc[0]

'The Lone Ranger'

In [18]:
answers ['7'] =  'The Lone Ranger +'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
data[data['revenue'] > data['budget']]['imdb_id'].count()

1478

In [26]:
answers ['8'] =  '1478 +'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
data[data.release_year == 2008].sort_values(by = 'revenue', ascending = False)['original_title'].iloc[0]

'The Dark Knight'

In [28]:
answers ['9'] =  'The Dark Knight +'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
data[(data.profit == data.profit.min()) 
     & (data.release_year >= 2012) 
     & (data.release_year <= 2014)]['original_title'].iloc[0] 
# почему-то выходила ошибка, когда совмещал границы поиска по release_year

'The Lone Ranger'

In [30]:
answers ['10'] =  'The Lone Ranger +'

# 11. Какого жанра фильмов больше всего?

In [31]:
data2 = data.copy()
data2['genres'] = data2.genres.str.split('|')
data2 = data2.explode('genres')
data2 = data2.genres.value_counts()
data2.index[0]

'Drama'

In [32]:
answers ['11'] =  'Drama +'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
data2 = data.copy()
data2['genres'] = data2.genres.str.split('|')
data2 = data2.explode('genres')
data2 = data2[data2['profit'] > 0]
data2 = data2.genres.value_counts()
data2.index[0]

'Drama'

In [34]:
answers ['12'] =  'Drama +'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
data.groupby(['director']).sum().sort_values(by = 'revenue', ascending = False).index[0]

'Peter Jackson'

In [36]:
answers ['13'] =  'Peter Jackson +'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
data2 = data[data.genres.str.contains('Action')].copy()
data2['director'] = data2.director.str.split('|')
data2 = data2.explode('director')
data2 = data2.director.value_counts()
data2.index[0]

'Robert Rodriguez'

In [38]:
answers ['14'] =  'Robert Rodriguez +'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
data3 = data.copy()
data3['cast'] = data3.cast.str.split('|')
data3 = data3.explode('cast')
data3[data3.release_year == 2012].groupby(['cast']).sum().sort_values(['revenue'], ascending = False).index[0]

'Chris Hemsworth'

In [40]:
answers ['15'] =  'Chris Hemsworth +'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [41]:
data4 = data.copy()
data4['cast'] = data4.cast.str.split('|')
data4 = data4.explode('cast')
data4[data4.budget > data4.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False).index[0]

'Matt Damon'

In [42]:
answers ['16'] =  'Matt Damon +'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
data5 = data.copy()
data5[data5.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode().value_counts().index[0]

'Action'

In [44]:
answers ['17'] =  'Action +'

# 18. Самый убыточный фильм от Paramount Pictures

In [45]:
data6 = data.copy()
data6['production_companies'] = data6['production_companies'].str.split('|')
data6 = data6.explode('production_companies')
data6[data6['production_companies'] == 'Paramount Pictures'].sort_values(['profit'], ascending = True)['original_title'].iloc[0]

'K-19: The Widowmaker'

In [46]:
answers ['18'] =  'K-19: The Widowmaker +'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data7 = data.copy()
data7.groupby(['release_year']).sum().sort_values(['revenue'], ascending = False).index[0]

2015

In [48]:
answers ['19'] =  '2015 +'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
data8 = data[data.production_companies.str.contains('Warner Bros.')].copy()
data8['production_companies'] = data8['production_companies'].str.split('|')
data8 = data8.explode('production_companies')
data8 = data8[data8.production_companies.str.contains('Warner Bros.')]
data8.groupby(['release_year']).sum().sort_values(['profit'], ascending = False).index[0]

2014

In [50]:
answers ['20'] =  '2014 +'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [51]:
data9 = data.copy()
data9['month'] = pd.DatetimeIndex(data9['release_date']).month
data9 = data9.groupby(['month'])['imdb_id'].value_counts() 
data9.groupby('month').sum().sort_values(ascending = False).index[0]

9

In [52]:
answers ['21'] =  '9 +'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
data10 = data.copy()
data10['month'] = pd.DatetimeIndex(data10['release_date']).month
data10 = data10.query('month == 6 or month == 7 or month == 8')
data10.value_counts('imdb_id').sum()

450

In [54]:
answers ['22'] =  '450 +'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
data11 = data.copy()
data11['month'] = pd.DatetimeIndex(data11['release_date']).month
data11['director'] = data11['director'].str.split('|')
data11 = data11.explode('director')
data11 = data11.query('month == 1 or month == 2 or month == 12')
data11 = data11.groupby(['director']).imdb_id.value_counts()
data11.groupby(['director']).sum().sort_values(ascending = False).index[0]

'Peter Jackson'

In [56]:
answers ['23'] =  'Peter Jackson +'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
data12 = data.copy()
data12['production_companies'] = data12['production_companies'].str.split('|')
data12 = data12.explode('production_companies')
data12['len_title'] = data12.original_title.apply(len_symb)
data12.groupby(['production_companies']).len_title.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

In [58]:
answers ['24'] =  'Four By Two Productions +'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
data13 = data.copy()
data13['production_companies'] = data13['production_companies'].str.split('|')
data13 = data13.explode('production_companies')
data13['len_overwiev'] = data13.overview.apply(len_words)
data13.groupby(['production_companies']).len_overwiev.mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

In [60]:
answers ['25'] =  'Midnight Picture Show +'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
data14 = data.copy()
data14 = data14[data14['vote_average'] > data14['vote_average'].quantile(q=0.99)]
data14 ['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [62]:
answers ['26'] =  'Inside Out, The Dark Knight, 12 Years a Slave +'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
data15 = data.copy()
data15['cast'] = data15.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data15 = data15.explode('cast')
data15.cast.value_counts().index[0]

('Daniel Radcliffe', 'Rupert Grint')

In [64]:
answers ['27'] =  'Daniel Radcliffe', 'Emma Watson +'

# Submission

In [65]:
#Проверяем свои ответы на каждый вопрос
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides +',
 '2': 'Gods and Generals +',
 '3': 'Winnie the Pooh +',
 '4': '110 +',
 '5': '107.0 +',
 '6': 'Avatar +',
 '7': 'The Lone Ranger +',
 '8': '1478 +',
 '9': 'The Dark Knight +',
 '10': 'The Lone Ranger +',
 '11': 'Drama +',
 '12': 'Drama +',
 '13': 'Peter Jackson +',
 '14': 'Robert Rodriguez +',
 '15': 'Chris Hemsworth +',
 '16': 'Matt Damon +',
 '17': 'Action +',
 '18': 'K-19: The Widowmaker +',
 '19': '2015 +',
 '20': '2014 +',
 '21': '9 +',
 '22': '450 +',
 '23': 'Peter Jackson +',
 '24': 'Four By Two Productions +',
 '25': 'Midnight Picture Show +',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave +',
 '27': ('Daniel Radcliffe', 'Emma Watson +')}

In [66]:
#убеждаемся, что ничего не пропустили!
len(answers)

27